<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (user) {%>
      <h1>WELCOME BACK <%= user.username %></h1>
      <form id="logout" action="/auth/logout" method="POST">
        <a href="#" onclick="document.getElementById('logout').submit()">Logout</a>
      </form>
    <% } %>
    <a href="/signup">Sign up</a>
    <a href="/auth/login">Login</a>
  </body>
</html>
