<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Message</title>
</head>
<body>
    <form action="" method="POST">
        <label for="title">Title</label>
        <input name="title" type="text" value="Sample Title">
        <label for="message">Message</label>
        <input name="message" type="text" value="Sample Message">
        <button type="submit">Post Message</button>
    </form>
    <% if(typeof errors !== 'undefined') { %>
        <% errors.forEach(error => { %>
            <h2><%= error.msg %></h2>
        <% }) %>
      <% } %>
</body>
</html>