<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Page</title>
</head>
<body>
    <h1>Congratulations you found the altar of Peter</h1>
    <form action="" method="POST">
        <button type="submit">Join the kingdom of Peter</button>
    </form>
    <form action="secret/admin" method="POST">
        <button type="submit">Become an Admin</button>
    </form>
    
</body>
</html>